@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@112.5,200..900&display=swap");

/* Variables */
:root {
  --desktop-font-size: 1.2rem/1.55;
  --mobile-font-size: 1rem/1.45;
  --text-color: #2d2d2d;
  --link-color: #323232;
  --link-color-alt: #ff9c01;
  --link-color-hover: #fcfff0;
  --primary-color: lightsteelblue;
  --secondary-color: aliceblue;
  --tertiary-color: whitesmoke;

  --main-color: #2d2d2d;
  --border-radius: 50% 4% 50% 4% / 4% 50% 4% 50%;
  --border-radius-hover: 4% 50% 6% 50% / 50% 4% 50% 4%;
  --border: 0.5rem solid var(--main-color);
  --border-hover: 0.5rem dashed var(--main-color);

  --text-dark: #333333;
  --text-light: #f5f5f5;

  --bg-primary: #f3efea;

  /* Light mode */
  --light-switch-shadow: #373d4e;
  --light-switch-icon: "🌚";
  --light-text: #222430;
  --light-bg: #f7f7f7;
  --light-theme: #d34a97;
  --light-theme-filter: invert(1) sepia(0) saturate(0) hue-rotate(0);

  /* Dark mode */
  --dark-switch-shadow: #fce477;
  --dark-switch-icon: "🌝";
  --dark-text: #f7f7f7;
  --dark-bg: #070706;
  --dark-theme: #bd93f9;
  --dark-theme-filter: invert(0) sepia(0) saturate(0) hue-rotate(0);

  --switch-icon: var(--light-switch-icon);

  --bg-color: var(--bg-primary);
  --orthogonal-color: var(var(--dark-bg));
  --svg-filter: var(--light-theme-filter);
  --text: var(--text-dark);
  --title-font-color: var(--text-dark);
  --stages-color: var(--text-color);
  --footer-color: var(--primary-color);
}

/* Typography */
body {
  color: var(--text-color);
  margin: 0;
  background-color: var(--bg-color);
  font: var(--desktop-font-size) -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

#theme-toggle:hover {
  cursor: pointer;
}
body.theme-light #theme-toggle::before {
  content: var(--switch-icon);
}

body.theme-dark #theme-toggle::before {
  content: var(--switch-icon);
}

.theme-dark {
  --bg-color: var(--dark-bg);
  --orthogonal-color: var(--bg-primary);
  --title-font-color: rgb(21, 212, 139);
  --switch-icon: var(--dark-switch-icon);
  --svg-filter: var(--light-theme-filter);
  --text: var(--text-light);
  --stages-color: var(--bg-primary);
  --main-color: var(--bg-primary);
  --border: 0.2rem solid var(--bg-primary);
  --border-hover: 0.2rem dashed var(--bg-primary);
  --footer-color: var(--link-color);
}

.theme-light {
  --switch-icon: var(--light-switch-icon);
  --orthogonal-color: var(var(--dark-bg));
  --bg-color: var(--bg-primary);
  --svg-filter: var(--dark-theme-filter);
  --text: var(--text-dark);
  --main-color: var(--text-dark);
}
